     /* google fonts*/
	 @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
	
	/* basic setup for layouts*/ 
  *{
	padding:0;
	margin:0;
    box-sizing: border-box;
   }
   
   /* not supprt in firefox*/
   
   body::-webkit-scrollbar {
	   width:0.25rem;
   }
   body::-webkit-scrollbar-track{
	   background:#1e1e24;
   }
   
   body::-webkit-scrollbar-thumb{
	   background:#6649b8;
   }
   
   html{
	   font-size:62.5%;
	   scroll-behavior:smooth;
   }
   img{
	   width:100%;
   }
   
   ul {
	   list-style:none;
   }
   a{
	   text-decoration:none;
	   
   }
   
   /* body */
   body{
	  font-family: 'Lato', sans-serif;
	  background:#f1f1f1;
	  color:#333;
      }
	  
	  /*container*/
	  
	 .container{
		 max-width:1200px;
		 margin:auto;
		 
	 }
	 
	 
	 /* contact style*/
	 .contact-container{
		 display:flex;
		 flex-direction:row;
		 min-height:100vh;
		 justify-content:center;
		 align-items:center;
		 flex-wrap:wrap;
	 }
	 
	 /*contact-content*/
	 
	.form{
		background:#fff;
		width:600px;
		padding:20px 40px;
		border-radius:5px;
		box-shadow:0 2px 10px rgba(0,0,0,0.3);
		margin:2rem;
	}
	
	.form-control label{
		display:block;
		padding-bottom:1rem;
		font-size:1.5rem;
		color:#777;
	}
	
	 .form-control input,textarea{
		 border: 2px solid #f0f0f0;
		 display:block;
		 width:100%;
		 padding:1.2rem;
		 margin-bottom:10px;
         border-radius: 5px;
	 }
	 
	 .contact-container h2{
	      padding-bottom:2rem;
		 text-align:center;
		 color:#2563EB;
	 }
	 
	 .contact-img p {
		 font-size:5rem;
		 color:#2563EB;
		 padding-bottom:1rem;
	 }
	 
	  textarea:focus{
       outline: none;
       border-color: blue;
       }
	   input:focus{
		   outline:none;
		   border-color:blue;
	   }
	   
	   .btn {
		  display: block;
		  border: none;
		  padding: 10px 20px;
		  text-align: center;
		  color: #fff;
		  background: #FBBF24;
		  margin-top: 2rem;
		   cursor:pointer;
	   }
	   
	   .text-err{
		   color:red;
		   font-size:1.2rem;
		   display:block;
		   font-style:bold;
		   margin-bottom:1rem;
	   }
	   
	  /* contact-img*/
     .contact-img img{
		 width:500px;
		 border-radius: 5px;
		 box-shadow:0 2px 10px rgba(0,0,0,0.3);
		
	 }	  
	 
	 
	 
	 
	 
	 
	 /* showcase page index*/
      .flex-showcase{
		  margin:1rem;
	  }
         	 
	 .content-showcase h1{
		 font-size:5rem;
		 font-weight:bolder;
		 margin-bottom:1.2rem;
	 }
	 
	 .content-showcase p {
		 font-size:2rem;
		 font-weight:bolder;
		 margin-bottom:1.2rem;
	 }
	
     .flex-showcase{
		  display:flex;
		 flex-direction:row;
		 min-height:100vh;
		 justify-content:space-between;
		 align-items:center;
		 flex-wrap:wrap;
		 
	 }
	 
	 .img-showcase img {
		 width:600px;
		 
	 }
	 
	 .btn-showcase{
		 
		 border:3px solid #000;
		 width:100%;
		 padding:20px 40px;
		 display:block;
		 margin-top:4rem;
		 text-align:center;
		 box-shadow:5px 5px 1px rgba(0,0,0,0.8);
		 color:#000;
		 font-size:1.5rem;
		 font-weight:bold;
	 }
	 
	 
    .last {
		text-align:center;
		padding:2rem;
		margin:3rem;
		font-size:4rem;
		border-bottom:2px solid #fff;
	}
	 
	 
	/* showcase indexpage*/
	  .container-showcase{
		  max-width:1100px;
		  margin:auto;
		  overflow:auto;
		  padding:0 2rem;
	  }
	   
	   .card{
		   display:grid;
		   grid-template-columns:repeat(2,1fr);
		   gap:2rem;
		   margin:2rem;
		   background:#fff;
		   margin-bottom:2rem;
		   align-items:center;
		   
	   }
	   
	   .card img {
		   width:400px;
		   
	   }
	   .card h3 {
		   margin-bottom:2rem
	   }
	   
	   .card >div {
		   padding:2rem;
	   }
	   
	   .card:nth-child(even) img {
		   order:2;
	   }
	   
	   .btn-show{
		   display:inline-block;
		   background:#000;
		   color:#fff;
		   padding:0.8rem 1.8rem;
		   margin-top:2rem;
		   cursor:pointer;
	   }
	   
	   .btn-show:hover{
		   opacity:0.8;
	   }
	   
	   @media(max-width:700px)
	   {
		   .card{
			   display:block;
		   }
	   }
	 
	 
	 /* message page*/
	 	  
	#message {
	  
	  border-collapse: collapse;
	  width: 100%;
	}

	#message td, #message th {
	  border: 1px solid #ddd;
	  padding: 8px;
	}

	#message tr:nth-child(even){background-color: #f2f2f2;}

	#message tr:hover {background-color: #D1FAE5;}

	#message th {
	  padding-top: 12px;
	  padding-bottom: 12px;
	  text-align: left;
	  background-color: #4CAF50;
	  color: white;
	}
	
	
	
	
	/* show message*/
	.main-show-message{
		
	}
	.flex-message{
		 display:grid;
		 grid-template-columns:2fr 1fr;
		  align-items: center;
		  gap: 20px;
		  align-items: center;
	}
	
	.info-message {
		background:#fff;
		padding:20px 40px;
		display:flex;
		justify-content:center;
		align-items:center;
		flex-direction:column;
		margin:1rem;
		text-align:center;
		height:100%;
	}
	
	.info-message img {
		width:70px;
		height:70px;
		border-radius:50%;
		text-align:center;
		margin-bottom:1rem;
	}

	.content-message{
		background:#fff;
		height:100%;
		padding:20px 40px;
		margin:1rem;
	}
	
	.btn-danger{
		background:red;
		color:#fff;
		border:none;
		padding:10px 20px;
		cursor:pointer;
		display:inline-block;
		margin:1rem;
	     
	}
	
	.btn-edit{
		background:#A5B4FC;
		color:#fff;
		border:none;
		padding:10px 20px;
		cursor:pointer;
		display:inline-block;
		margin:1rem;
	}
	
	
	.img{
		height:70px;
		width:70px;
	}


		  
	  
	  
	 
   